.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background: #126ABD;
  right:0;
  bottom:0;
  position: fixed;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}