<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="card">
            <div class="card-header">Gastos</div>
            <div class="card-body">
              <div class="card-title">
                <h3 class="text-center title-2">Registro de gasto</h3>
              </div>
              <hr>
              <form class="create-form" [formGroup]="gastoForm" novalidate (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-10">
                    <div class="form-group">
                      <label for="cc-payment" class="control-label mb-1"><i class="fas fa-money-bill-alt"></i>
                        Valor</label>
                      <input id="cc-payment" name="cc-payment" type="number" class="form-control" 
                      aria-required="true" aria-invalid="false" value="0.00" formControlName="valor">
                    </div>
                  </div>
                  <div class="col-2">
                    <label for="" class="control-label mb-1"> Pagado</label>
                    <input type="checkbox" id="cbx" style="display: none;" aria-required="true"
                      formControlName="realizado" aria-invalid="false">
                    <label for="cbx" class="check">
                      <svg width="18px" height="18px" viewBox="0 0 18 18">
                        <path
                          d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                        </path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                      </svg>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cc-descripcion" class="control-label mb-1"><i class="fas fa-sticky-note"></i>
                    Descripci&oacute;n</label>
                  <input id="cc-descripcion" name="cc-descripcion" type="text" class="form-control cc-descripcion valid"
                    data-val="true" data-val-required="Ingrese un detalle del gasto" autocomplete="cc-descripcion"
                    aria-required="true" aria-invalid="false" aria-describedby="cc-descripcion-error"
                    formControlName="descripcion" required>
                  <span class="help-block field-validation-valid" data-valmsg-for="cc-descripcion"
                    data-valmsg-replace="true"></span>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="cc-exp" class="control-label mb-1">
                        <i class="fas fa-utensils"></i>
                        Categoria
                      </label>
                      <select name="categoria" id="categoria" class="form-control" formControlName="categoria" required>
                        <option *ngFor="let categoria of categoriasGasto" 
                          [ngValue]="categoria.nombre">
                          {{categoria.nombre}} 
                        </option>
                      </select>
                      <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="x_card_code" class="control-label mb-1">
                      <i class="fas fa-university"></i>
                      Cuenta
                    </label>
                    <div class="input-group">
                      <select name="cuenta" id="cuenta" class="form-control" formControlName="cuenta" required >
                        <option *ngFor="let cuenta of cuentas" 
                        [value]="cuenta.nombre">
                        {{cuenta.nombre}}
                      </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cc-number" class="control-label mb-1">
                    <i class="far fa-calendar-alt"></i>
                    Fecha
                  </label>
                  <input id="fecha" type="date" class="form-control cc-name valid" data-val="true"
                    data-val-required="Ingrese un detalle del gasto" autocomplete="cc-name" aria-required="true"
                    aria-invalid="false" aria-describedby="cc-name-error" formControlName="fecha"
                    [value]="fechaActual | date:'yyyy-MM-dd'">
                  <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                </div>
                <div>
                  <button id="payment-button" type="submit" [disabled]="!gastoForm.valid" class="btn btn-lg btn-info btn-block">
                    <i class="fas fa-save"></i>&nbsp;
                    <span id="payment-button-amount">Guardar</span>
                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--


  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Name" class="form-control" formControlName="name">
    </mat-form-field>
    <ng-container *ngFor="let validation of validation_messages.name">
      <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation}}</mat-error>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Surname" class="form-control" formControlName="surname">
    </mat-form-field>
    <ng-container *ngFor="let validation of validation_messages.surname">
      <mat-error *ngIf="exampleForm.get('surname').hasError(validation.type) && (exampleForm.get('surname').dirty || exampleForm.get('surname').touched)">{{validation}}</mat-error>
    </ng-container>
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput type="number" min="0" max="100" placeholder="Age" class="form-control" formControlName="age">
    </mat-form-field>
    <ng-container *ngFor="let validation of validation_messages.age">
      <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation}}</mat-error>
    </ng-container>
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
    </div>
  </div>

</form>


-->